/* Move down content because we have a fixed navbar that is 3.5rem tall */

html,
body {
  /* padding-top: 3.5rem; */
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#logo {
  font-family: 'Fredericka the Great', cursive;
  margin-right: 20px;
}

h4 {
  color: #8994c6;
}

.jumbotron {
  background-color: white;
  margin-top: 3rem;
}

#map {
  border: 1px solid #C9C7C7;
  padding: 0;
}

footer {
  margin-top: 2rem;
  background-color: white;
  background-color: rgba(245, 245, 245, 0.2);
}

#bg-test {
  background-color: rgba(251, 177, 60, 0.3);
  border-top: 1px solid #D8D8D8;
}

#rest-map {
  margin-top: 10px;
  margin-bottom: 10px;
}

