/* Move down content because we have a fixed navbar that is 3.5rem tall */

html,
body {
  /* padding-top: 3.5rem; */
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0px;
}

#main {
  margin-top: 100px;
}

#logo {
  font-family: 'Fredericka the Great', cursive;
  margin-right: 20px;
}

h4 {
  color: #8994c6;
}

.jumbotron,
.address {
  background-color: white;
}

#map {
  height: 100%;
}

.navbar-inner {
  background: transparent;
}

